.social{
justify-content: center;
background: rgb(25, 25, 25);  
}

.contact{
    color: rgb(253, 253, 253); font-size: 15px;
}
.copyright{
    color: white; 
    background-color:orangered;
     text-align: center;
}
.contcontact{
  
  text-align: center;
    justify-content: center;
}
.social{
    padding: 5px;
}